.match-time-container {
    position: relative;
    width: 100vh;
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match-time-container .row {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}