.graph-box-outer {
    position: relative;
    width: 25%;
    height: 100%;
    margin: 0.2em;
    margin-left: 1em;
}

.graph-box-outer .graph-box-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow:3px 3px 12px rgb(97, 93, 93);
    border-radius: 15px;
}

.graph-box-outer .graph-box-container .image-container {
    position: relative;
    width: 100%;
    height: 40%;
}

.graph-box-outer .graph-box-container .image-container img {
    position: relative;
    border-radius: 15px;
}

.graph-box-outer .graph-box-container .content {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 0.3em;
}

.graph-box-outer .graph-box-container .content .name {
    position: relative;
    width: 100%;
    font-size: 0.5em;
    font-weight: 600;
    height: auto;
}

.graph-box-outer .graph-box-container .content .list {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 0.28em;
    margin-top: 0.1em;
}