.innerbar-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 6vh;
    justify-content: left;
    border-bottom: 1px solid #000;
}

.innerbar-container .title{
    position: relative;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.innerbar-container .title a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
}

.innerbar-container .title:hover a{
    background-color: rgb(233, 227, 227); 
}

:innerbar-container .title a{
    background-color: rgb(233, 227, 227); 
}
